@import "_shared";

footer {
  padding: 35px 0 0 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  line-height: 20px;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  .orange {
    display: none;
  }
  @include media-desktop {
    flex-direction: row;
    .orange{
      display: inline;
    }
  }
  .footer__ {
    &logo {
      flex-basis: 25%;
      &__image {
        display: block;
        margin: 0 auto;
      }
      padding: 0 0 40px 0;
      @include media-desktop {
        padding: 0 20px 0 0;
      }
      @include media-xl {
        padding: 0;
      }
    }
    &location {
      text-align: center;
      flex-basis: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding: 0 0 40px 0;
      @include media-desktop {
        padding: 0;
      }
      .address {
        flex-basis: 100%;
        address {
          height: auto;
          display: inline-block;
          margin-bottom: auto;
          font-style: normal;
          line-height: inherit;
        }
        .street {
          display: block;
          @include media-mobile {
            display: inline;
          }
        }
      }
      .location-group {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        .location-group-item {
          display: inline-block;
          margin: 0;
          padding: 10px 0 0;
          @include media-desktop{
            padding: 0 10px;
          }

        }
        .email {
          a {
            color: $ink;
            text-decoration: none;
            &:visited {
              color: $ink;
            }
            &:active {
              color: $ink;
            }
          }

        }
        @include media-desktop {
          flex-direction: row;
        }

      }
      a[href^="tel:"] {
        color: $ink;
        text-decoration: none;
      }

      @include media-desktop {
        border-left: 1px solid white;
        border-right: 1px solid white;
      }
    }
    &social {
      flex-basis: 25%;
      .footer__social__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        li:nth-child(3) {
          margin: 0 20px;
        }
        .orange {
          padding: 0 20px 0 0;
        }
        &__item {
          .footer__social__choice {
            display: block;
            height: 27px;
            width: 29px;
            background-repeat: no-repeat;
            background-image: url('../img/social.png');
            text-indent: -9999px;
            &--facebook {
              background-position-x: -27px
            }
            &--instagram {
              background-position-x: 0px;
            }
            &--twitter {
              background-position-x: -58px;
            }
          }
        }
      }
      padding: 0 20px;
      @include media-xl {
        padding: 0;
      }
    }
  }

}

/*
@media only screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    .footer__social > ul > li:nth-child(2) > a {
      height: 200px;
      weight: 300px;
    }
    .footer__logo {
      padding: 0 0 0 20px;
    }
    .footer__location {
      span.orange {
        display: none;
      }
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      margin: 20px 0;
    }
    .footer__social {

      li.orange {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    .footer__logo, .footer__social {
      padding: 0;
    }
    .footer__location {
      padding: 20px 0;
    }
    .footer__social .footer__social__list__item .footer__social__choice {
      margin: 0;
    }
    .footer__social .footer__social__list__item .footer__social__choice--twitter {
      margin: 0 20px;
    }
  }
}*/
